@model WebApp.Models.DBModels.QuotationMaster
<h4>Edit Quotation</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.QuotationMasterid)

    <div class="form-horizontal">

        <div class="form-group">

            <div class="row">
                <div class="col-md-6">
                    <label for="QuoteNumber" class="control-label ">Invoice</label>
                    <input type="text" id="QuoteNumber" required class="form-control col-md-7" value="@Model.QuoteNumber" readonly />
                </div>
                <div class="col-md-6">
                    <label for="CustomerID" class=" control-label ">Supplier</label>
                    <div class="input-group">
                        @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control Chooosen" })

                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-6">
                    <label for="QuoteDate" class="control-label ">Quote Date</label>
                    <input type="text" id="QuoteDate" class="form-control datepicker" required value="@Model.QuoteDate " />
                </div>
                <div class="col-md-6">
                    <label for="QuoteRevDate" class=" control-label ">Rev Date</label>
                    <input type="text" id="QuoteRevDate" class="form-control datepicker" value="@Model.QuoteRevDate" />
                </div>
            </div>


        </div>

        <div class="form-group">
            <h4>
                Product Wise Details
            </h4>
            <table class="table  table-condensed table-bordered table-sm">
                <tr>
                    <th>Category</th>
                    <th>Item Name</th>
                    <th>Product Details</th>

                    <th style="width:100px">Total Qty</th>
                    <th style="width:120px">Total Price</th>
                    <th style="width:50px">CGST %</th>
                    <th style="width:50px">SGST %</th>
                </tr>
                <tr class="mycontainer" id="mainrow">
                    <td>
                        @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control Chooosen" })
                    </td>
                    <td>
                        @Html.DropDownList("ItemNameID", null, htmlAttributes: new { @class = "Chooosen form-control" })
                    </td>
                    <td>
                        <textarea name="ProductDesc" id="ProductDesc" class="form-control"></textarea>
                    </td>

                    <td>

                        <input type="number" id="TotalQty" style="width:100px" class="TotalQty  form-control" min="0" oninput="validity.valid || (value = '');" onchange="Calculate()" />
                    </td>
                    <td>

                        <input type="number" id="TotalPrice" style="width:120px" class="TotalPrice form-control" oninput="validity.valid||(value='');" onchange="Calculate()" />
                    </td>
                    <td style="width:50px">
                        <input type="number" id="CGSTPercent" style="width:50px" class="CGSTPercent form-control" value="9" oninput="validity.valid||(value='');" onchange="Calculate()" />
                    </td>
                    <td style="width:50px">
                        <input type="number" id="SGSTPercent" style="width:50px" class="SGSTPercent form-control " value="9" oninput="validity.valid||(value='');" onchange="Calculate()" />
                    </td>
                </tr>
                <tr>
                    <th>Unit Price</th>
                    <td> <input type="text" id="UnitCP" class="UnitCP " readonly value="0" /></td>
                    <th></th>
                    <td>  </td>
                    <th>Total Qty</th>
                    <th>Total Price</th>
                    <td colspan="2">
                        <input type="button" id="add" value="add" class="btn btn-success" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-group">
            <table id="detailtable" class="table table-responsive  table-bordered ">
                <thead>

                    <tr>
                        <th style="display:none;">DetID</th>
                        <th style="display:none;">CategoryID</th>
                        <th style="display:none;">ItemNameID</th>
                        <th>Category</th>
                        <th>ItemName</th>
                        <th>ProductDetails</th>

                        <th>Total Qty</th>
                        <th>Total Price</th>
                        <th>CGST %</th>
                        <th>SGST %</th>  var valid = this.form.checkVali
                        <th>Unit Price</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (WebApp.Models.DBModels.QuotationDetail purdet in Model.QuotationDetails)
                    {
                        if (purdet.IsDeleted == false)
                        {
                            <tr class='mycontainer' id='DetailRow' style="border-bottom: solid">

                                <td style="display:none;" class='QuotationDetailId'>@purdet.QuotationDetailId </td>
                                <td style="display:none;" class='CategoryID'>@purdet.CategoryID</td>
                                <td style="display:none;" class='ItemNameID'>@purdet.ItemName.Id </td>
                                <td class='Category'>@purdet.Category.CategoryName </td>
                                <td class='ItemName'>@purdet.ItemName.ItemDesc</td>
                                <td class='ProductDetails'>@purdet.Specification </td>
                                <td class='TotalQty'>@purdet.Qty</td>
                                <td class='TotalPrice'>@purdet.TotalPrice</td>
                                <td class='CGSTPercent'>@purdet.CGSTPercent </td>
                                <td class='SGSTPercent'>@purdet.SGSTPercent</td>
                                <td class='UnitPrice'>@purdet.UnitPrice</td>
                                <td><img src="/Content/Images/download.jpg" style="width: 20px;height: 20px;" class='delete' /></td>
                            </tr>
                        }


                    }




                </tbody>
            </table>
        </div>

        <div class="form-group" style="padding:10px 0; text-align:right">
            <input id="submit" type="submit" value="Save Quotation" class="btn btn-warning" style="padding:10px 20px" />
        </div>
    </div>

    @Html.Partial("~/Areas/Masters/Views/CustomerAsync/CustomerAddPartial.cshtml");
    <div class="form-actions no-color">

        @Html.ActionLink("Back to List", "Index")
    </div>
}

<script>
    $(document).ready(function () {

        $.unblockUI()

        $("#add").on("click", function () {

            var categoryName = $("#CategoryID option:selected").text()
            var categoryid = $("#CategoryID option:selected").val()
            var ItemName = $("#ItemNameID option:selected").text()
            var Itemid = $("#ItemNameID option:selected").val()

            var ProductDetails = $("#ProductDesc").val();

            var TotalQty = $("#TotalQty").val();
            var TotalPrice = $("#TotalPrice").val();
            var CGSTPercent = $("#CGSTPercent").val();
            var SGSTPercent = $("#SGSTPercent").val();
            var UnitPrice = $("#UnitCP").val();


            var markup = " <tr class='mycontainer' id='DetailRow' style=\"border-bottom: solid\"> \
                    <td style=\"display:none;\" class= 'QuotationDetailId'>0</td > \
                    <td style=\"display:none;\" class= 'CategoryID'>" + categoryid + "</td > \
                    <td style=\"display:none;\" class= 'ItemNameID'>" + Itemid + "</td> \
                    <td class= 'Category'>" + categoryName + "</td> \
                    <td class= 'ItemName'>" + ItemName + "</td> \
                    <td class= 'ProductDetails'>" + ProductDetails + "</td> \
                    <td class= 'TotalQty'>" + TotalQty + "</td> \
                    <td class='TotalPrice'>" + TotalPrice + "</td> \
                    <td class='CGSTPercent'>" + CGSTPercent + "</td> \
                    <td class='SGSTPercent'>" + SGSTPercent + "</td> \
                    <td class='UnitPrice'>" + UnitPrice + "</td> \
                    <td><img src=\"/Content/Images/download.jpg\" style=\"width: 20px;height: 20px;\" class='delete' /></td></tr > ";
            $('#detailtable tbody').append(markup);

            $("#ProductDesc").val("")
            $("#TotalQty").val("0")
            $("#TotalPrice").val("0")
            $("#UnitCP").val("0")


        });

        $("#submit").on("click", function () {

            var valid = this.form.checkValidity();

            if (valid) {
                event.preventDefault();
                $.blockUI()
                var isAllValid = true;

                var list = [];
                $('#detailtable tbody tr').each(function () {

                    var orderItem = {
                        QuotationDetailId: $('.QuotationDetailId', this).html(),
                        CategoryID: $('.CategoryID', this).html(),
                        ItemNameID: parseFloat($('.ItemNameID', this).html()),
                        Specification: $('.ProductDetails', this).html(),
                        Qty: $('.TotalQty', this).html(),
                        TotalPrice: parseFloat($('.TotalPrice', this).html()),
                        CGSTPercent: $('.CGSTPercent', this).html(),
                        SGSTPercent: parseFloat($('.SGSTPercent', this).html()),
                        UnitPrice: $('.UnitPrice', this).html(),


                    }
                    list.push(orderItem);
                });
                debugger
                if (isAllValid) {
                    var data = {

                        QuotationMasterid: $('#QuotationMasterid').val().trim(),
                        SupplierInvoice: $('#QuoteNumber').val().trim(),
                        CustomerID: $("#CustomerID option:selected").val(),
                        QuoteDate: $('#QuoteDate').datepicker('getDate'),
                        QuoteRevDate: $('#QuoteRevDate').datepicker('getDate'),
                        InvoiceValue: $('#TotalBill').val(),
                        PaidValue: $('#TotalPaid').val(),
                        QuotationDetailsViewModels: list,
                    }

                    $.ajax({
                        type: 'POST',
                        url: '/POS/QuotationMasters/Edit',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        success: function (data) {
                            if (data.status) {

                                list = [];
                                $('#QuoteNumber,#TotalBill,#TotalPaid').val('');
                                $('#orderdetailsItems').empty();

                                $.unblockUI()



                                var newUrl = '@Url.Action("Index", "QuotationMasters")';


                                bootbox.alert("Quotation Successfully Updated!", function () { window.location.href = newUrl; });




                            }
                            else {
                                alert('Error');
                            }
                            $('#submit').val('Save');
                        },
                        error: function (error) {
                            console.log(error);
                            $('#submit').val('Save');
                        }
                    });

                }
            }







        });

        $('#detailtable').on('click', '.delete', function () {
            $(this).parents('tr').remove();
        });

    });
    function Calculate() {

        var TotalQty = $("#TotalQty").val() || 0;
        var TotalPrice = $("#TotalPrice").val();
        var unitprice = parseFloat(TotalPrice.toString()) / parseFloat(TotalQty.toString())
        var unitSellingprice = 1.25 * unitprice



        $("#UnitCP").val(Number((unitprice).toFixed(2)));


    }
</script>