@model IEnumerable<WebApp.Models.DBModels.PurchaseInvoiceMaster>
@{
    ViewBag.Title = "Index";
}
<h4>Purchase Invoices</h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table filtertable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseInvoiceNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDiscount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsCommited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.StoreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseInvoiceNum)
                </td>
                <td>
                    @item.InvoiceDate.ToString("dd MMM yyyy")
                 
                </td>
                <td>
                    @item.PurchaseDate.ToString("dd MMM yyyy")
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalBill)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDiscount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsCommited)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.PurchaseInvoicemasterID }) |


                    @if (item.IsCommited == false)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.PurchaseInvoicemasterID })


                    }

                </td>
            </tr>
        }

    </tbody>

</table>