@model WebApp.Models.DBModels.ItemName

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ItemName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isactive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
