@model WebApp.Models.DBModels.ExpenseDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ExpenseDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseItem.ExpenseItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseItem.ExpenseItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseDetailRemark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseDetailRemark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleteddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleteddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpenseDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
