@model IEnumerable<WebApp.Models.DBModels.ExpenseDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table filtertable">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseItem.ExpenseItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseValue)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDetailRemark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleteddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseItem.ExpenseItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseDetailRemark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deleteddate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ExpenseDetailID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ExpenseDetailID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ExpenseDetailID })
                </td>
            </tr>
        }
    </tbody>
</table>
