@model IEnumerable<WebApp.Models.DBModels.ExpenseItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table filtertable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseItemName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseItemName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ExpenseItemID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ExpenseItemID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ExpenseItemID })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>  </tfoot>





</table>
